@model TiendaOnline.Models.Tienda

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}

<h2>Ajustes</h2>

<ul>
    <li>@Html.ActionLink("Información de Contacto", "InformacionContacto", new { id = Model.Id })</li>
    <li>@Html.ActionLink("Administrar Logos", "Logos", new { id = Model.Id })</li>
    <li>@Html.ActionLink("Modificar Horario", "HorarioTienda", new { idTienda = Model.Id })</li>
</ul>
