
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <div class="card text-center" style="max-width: 30rem; background-color:transparent">
        @using (Html.BeginForm("IniciarSesion", "Login", FormMethod.Post))
        {
            <div class="card-body">

                <h5 class="card-title">Iniciar Sesión</h5>

                <div style="margin-bottom:10px">
                    <input type="text" name="nombreUsuario" class="form-control" placeholder="Nombre de Usuario" required autofocus>
                </div>
                <div>
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
                </div>

            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
                <div style="width:100%; text-align:center; margin-top:20px">
                    ¿No tienes una cuenta?
                    <a href="~/Login/Registrate">Registrate</a>
                </div>
            </div>
        }
     </div>