@media (max-width: 30em) {
    table.responsive-table td:nth-child(1):before {
        content: 'Categoria';
    }
    table.responsive-table td:nth-child(2):before {
        content: 'Nombre';
    }

    table.responsive-table td:nth-child(3):before {
        content: 'Stock';
    }

    table.responsive-table td:nth-child(4):before {
        content: 'Precio';
    }

    table.responsive-table td:nth-child(1),
    table.responsive-table td:nth-child(2),
    table.responsive-table td:nth-child(3),
    table.responsive-table td:nth-child(4){
        padding-left: 40%;
    }

        table.responsive-table td:nth-child(1):before,
        table.responsive-table td:nth-child(2):before,
        table.responsive-table td:nth-child(3):before,
        table.responsive-table td:nth-child(4):before{
            position: absolute;
            left: .5em;
            font-weight: bold;
        }
}