
@{
    ViewBag.Title = "ResultadoCita";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Su hora ha sido registrada</h4>
    <p>Pronto te llegará un correo con un comprobante que deberás presentar en tu Cita.</p>
    <hr>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Volver al Inicio</a>
</div>

