@model TiendaOnline.Models.Tienda

@{
    ViewBag.Title = "CrearTienda";
}
<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading">Crear tu Tienda!</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Nombre</span>
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            <hr />
            <button class="btn btn-primary" type="submit">Crear</button>
        }

    </div>
</div>

<script>
    //Esconder Carousel en esta vista
    document.getElementById("myCarousel").style.display = "none";
</script>