
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="card-group" style="margin-top:18px">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="//placehold.it/200" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-3 pt-xl-3">
                    <h4 class="card-title">Productos</h4>
                    <p class="card-text">Description</p>
                </div>
            </div>
        </div>
        <a href="~/Home/Index" class="stretched-link"></a>
    </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="//placehold.it/200" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-3 pt-xl-3">
                    <h4 class="card-title">Servicios</h4>
                    <p class="card-text">Description</p>
                </div>
            </div>
        </div>
        <a href="~/Servicio/Index" class="stretched-link"></a>
    </div>
</div>

